<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>오더리스트</title>
</head>
<body>

<tr th:each="order:${orders}">
    <td th:text="${order.id}"></td>
    <td th:text="${order.member.name}"></td>
    <td th:text="${order.orderItems[0].item.title}"></td>
    <td th:text="${order.orderItems[0].price}"></td>
    <td th:text="${order.orderItems[0].count}"></td>
</tr>
</body>
</html>