<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="" th:action method="post" th:object="${item}">
    <input type="text" th:field="*{title}" placeholder="타이틀">
    <input type="text" th:field="*{author}" placeholder="author">
    <input type="text" th:field="*{price}" placeholder="price">
    <input type="text" th:field="*{stockQuantity}" placeholder="quantity">
    <button type="submit">제출</button>
</form>
</body>
</html>